<div class="margin-top booyah-box col-xs-8 col-xs-offset-2">
    <div class="inner-form col-xs-offset-4">
    <div>
      <h1 class="text-center">Add lyric</h1>
      <hr />
      <%= simple_form_for @lyric do |f| %>
        <%= f.input :title %>
        <br />
        <div class="form-group">
          <%= f.label :genre %> 
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {:include_blank => true}, {class: "form-control"}) %>
        </div>
        <br />
        <%= f.input :song_lyrics, class: 'song_lyrics' %>
        <br />
        <%= f.input :image %>
        <br />
        <%= f.submit 'Add Song', class: 'btn btn-primary btn-xl' %>
      <% end %>
    </div>
    </div>
</div> 

