<section class="jumbo">
  <div class="container">
    <div class="text-center jumbo-words">
      <h1>Buy and Sell <span class="gold">original</span> song lyrics</h1>
        <div class="buttons">
          <div class="col-xs-6 text-right">
            <%= link_to 'Buy Lyrics', lyrics_path, class: 'btn btn-primary btn-xl' %>
          </div>
          <div class="col-xs-6 text-left">
            <%= link_to 'Sell Lyrics', new_lyric_path, class: 'btn btn-primary btn-xl' %>
          </div>
        </div>
    </div>
  </div>
</section><!-- /.container -->

<%= render 'layouts/genre' %>

<section class="bg-dark featured-artists">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Featured Artists</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="container artist-gallery text-center">
        <div class="row">
            <div class="first col-xs-6">
                 <%= link_to image_tag("asap-rocky.jpg", class: 'img-responsive pull-right'), root_path %>
                 <div class="caption cap-one">
                     <h4><%= link_to 'A$AP Rocky', root_path %></h4>
                 </div>
            </div>
            <div class="second col-xs-6">
                <%= link_to image_tag("cash.jpg", class: 'img-responsive'), root_path %>
                <div class="caption cap-two">
                    <h4><%= link_to 'Johnny Cash', user_path(4)  %></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="third col-xs-6">
                <%= link_to image_tag("vince.jpg", class: 'img-responsive pull-right'), root_path %>
                <div class="caption cap-three">
                    <h4><%= link_to 'Vince Staples', root_path %></h4>
                </div>            
            </div>
            <div class="fourth col-xs-6">
                <%= link_to image_tag("weekend.jpg", class: 'img-responsive'), root_path %>
                <div class="caption cap-four">
                    <h4><%= link_to 'The Weekend', root_path %></h4>
                </div>            
            </div>
        </div>
    </div>
</section>

<footer class="footer text-center">
    <ul class="social list-unstyled">
      <li class="instagram"><a href="https://www.instagram.com/theghostwrtr"><i class="fa fa-instagram"></i></a></li>
      <li class="twitter"><a href="https://twitter.com/theghostwrtr"><i class="fa fa-twitter"></i></a></li>
      <li class="facebook"><a href="https://www.facebook.com/theghostwrtr"><i class="fa fa-facebook"></i></a></li>
    </ul>
    <p>© 2016 GhostWrtr, Inc.</p>
</footer>
	