<div class="booyah-box col-xs-10 col-xs-offset-1 text-center">
  <h2>Sign up</h2>
  <hr />
  <br />
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
  <br />
    <div class="form-inputs col-xs-6 col-xs-offset-4 new-form-inputs">
      <div class="hello pull-right">Nice to meet you!</div>
      <div class="input-box pull-left">
        <%= f.input :username, required: true, autofocus: true, placeholder: 'Name', label: false %>
      </div>
      <br class="clr" />
      <br />
      <div class="name pull-right"> You'll use this to log in.</div>
      <div class="input-box pull-left">
        <%= f.input :email, required: true, placeholder: 'Email', label: false %>
      </div>
      <br class="clr" />
      <br />
      <div class="input-box pull-left">
        <%= f.input :password, required: true, placeholder: 'Password', label: false %>
      </div>
    </div>
  <br class="clr" />
  <br />
    <div class="form-actions new-user-form">
      <%= f.button :submit, "Sign up", :class => 'btn btn-primary' %>
    </div>
    <div class="form-actions new-user-login">
      Already a member? - 
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
  <br />
</div>
