<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-6 placeholder">
              <h4>Users</h4>
              <span class="text-muted"><%= link_to 'Users Index', admin_users_path %></span>
            </div>
            <div class="col-xs-6 col-sm-6 placeholder">
              
              <h4>Lyrics</h4>
              <span class="text-muted"><%= link_to 'Lyrics Index', admin_lyrics_path %></span>
            </div>
          </div>

          <h2 class="sub-header">All Lyrics</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>User id</th>
                  <th>Created At</th>
                  <th>Image</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                  <% @lyrics.each do |lyric| %>
                <tr>
                
                  <td><%= lyric.title %></td>
                  <td><%= lyric.user_id %></td>
                  <td><%= lyric.created_at %></td>
                  <td><%= lyric.image %></td>
                  <td><%= link_to 'Edit Lyric', edit_lyric_path(lyric) %></td>
        
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>