<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Selected A Genre</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <%= link_to image_tag("guitar.png"), root_path %>
                        <h3>Country</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <%= link_to image_tag("audio.png"), root_path %>
                        <h3>Hip hop</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <%= link_to image_tag("handguitar.png"), root_path %>
                        <h3>Indie</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <%= link_to image_tag("saxophone.png"), root_path %>
                        <h3>Jazz</h3>
                    </div>
                </div>
                <!-- What the section used to have in it
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div> -->
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <%= link_to image_tag("horns.png"), root_path %>
                        <h3>Metal</h3>
                    </div>
                </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <%= link_to image_tag("headphones.png"), root_path %>
                    <h3>Pop</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <%= link_to image_tag("micstand.png"), root_path %>
                    <h3>RnB</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <%= link_to image_tag("drums.png"), root_path %>
                    <h3>Rock</h3>
                </div>
            </div>
        </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <div class="service-box">
                        <%= link_to image_tag("record.png"), root_path %>
                        <h3>Other</h3>
                    </div>
                </div>
            </div>
        </div>

    </section>