
<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Selected A Genre</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-4 text-center">
                    <div class="service-box">
                        <%= link_to image_tag("guitar.png"), genre_path(11) %>
                        <h3>Country</h3>
                    </div>
                </div>
                <div class="col-xs-4 text-center">
                    <div class="service-box">
                        <%= link_to image_tag("audio.png"), genre_path(10) %>
                        <h3>Hip hop</h3>
                    </div>
                </div>
                <div class="col-xs-4 text-center">
                    <div class="service-box">
                        <%= link_to image_tag("handguitar.png"), genre_path(12) %>
                        <h3>Indie</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-center">
                    <div class="service-box">
                        <%= link_to image_tag("saxophone.png"), genre_path(13) %>
                        <h3>Jazz</h3>
                    </div>
                </div>
                <!-- What the section used to have in it
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Made with Love</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div> -->
                <div class="col-xs-4 text-center">
                    <div class="service-box">
                        <%= link_to image_tag("horns.png"), genre_path(14) %>
                        <h3>Metal</h3>
                    </div>
                </div>
            <div class="col-xs-4 text-center">
                <div class="service-box">
                    <%= link_to image_tag("headphones.png"), genre_path(15) %>
                    <h3>Pop</h3>
                </div>
            </div>
        </div>
        <div class="row last-row">
            <div class="col-xs-4 text-center">
                <div class="service-box">
                    <%= link_to image_tag("micstand.png"), genre_path(16) %>
                    <h3>RnB</h3>
                </div>
            </div>
            <div class="col-xs-4 text-center">
                <div class="service-box">
                    <%= link_to image_tag("drums.png"), genre_path(17) %>
                    <h3>Rock</h3>
                </div>
            </div> 
            <div class="col-xs-4 text-center">
                <div class="service-box">
                    <%= link_to image_tag("record.png"), genre_path(18) %>
                    <h3>Other</h3>
                </div>
            </div>
        </div>
        </div>
    </section>