<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Ghostwrtr</title>
    
    <link rel="icon" type="image/png" href="http://www.ghostwrtr.com/img/ghost.png">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
    <%= render 'layouts/navbar' %>
    
    <% if notice.present? %>
      <p class="alert alert-info text-center"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert alert-danger text-center"><%= alert %></p>
    <% end %>
    
    <%= yield %>
  </div>
  
  <br class="clr" />
  
  <footer id="footer">
    <ul class="social list-unstyled">
      <li class="instagram"><a href="https://www.instagram.com/theghostwrtr"><i class="fa fa-instagram"></i></a></li>
      <li class="twitter"><a href="https://twitter.com/theghostwrtr"><i class="fa fa-twitter"></i></a></li>
      <li class="facebook"><a href="https://www.facebook.com/theghostwrtr"><i class="fa fa-facebook"></i></a></li>
    </ul>
    <p>© 2016 GhostWrtr, Inc. | Made with <i class="fa fa-heart"></i> in Los Angeles, CA</p>
  </footer>

</body>
</html>
